@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700&display=swap");
/*Bootstrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css");
.d {
  background: -webkit-linear-gradient(43deg, #6919c3 0%, #2d0fc3 100%);
  background: -o-linear-gradient(43deg, #6919c3 0%, #2d0fc3 100%);
  background: linear-gradient(47deg, #6919c3 0%, #2d0fc3 100%); }

.pop {
  font-family: "Poppins", sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

* {
  margin: 0;
  padding: 0; }

body {
  margin-top: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

.container {
  max-width: 1200px; }

.btnWrap .btnGlob {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 26px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  outline: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btnWrap .btnGlob:hover {
    background: #ffffff; }
  .btnWrap .btnGlob.btnSqure {
    background: #000;
    border: 2px solid #000; }
    .btnWrap .btnGlob.btnSqure:hover {
      background: #ffffff;
      color: #000; }
  .btnWrap .btnGlob.btnBorder {
    background: #ffffff;
    color: #000; }
    .btnWrap .btnGlob.btnBorder:hover {
      background: #000;
      border: 2px solid #000;
      color: #ffffff; }

a,
.btn,
button {
  text-decoration: none;
  outline: none; }

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.secPadding {
  padding: 70px 0; }

.secTop {
  margin-bottom: 50px;
  text-align: center; }
  .secTop .secSubTitle {
    font-size: 16px;
    font-style: italic; }
  .secTop .secTitle {
    font-size: 40px;
    text-transform: uppercase;
    display: inline-block;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px; }

.bg_w {
  background: #fff; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  padding: 15px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100; }
  .header .navbar {
    padding: 0; }
    .header .navbar .mainMenu .navbar-nav {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header .navbar .mainMenu .navbar-nav .nav-item {
        margin-right: 45px; }
        .header .navbar .mainMenu .navbar-nav .nav-item:last-child {
          margin-right: 0; }
        .header .navbar .mainMenu .navbar-nav .nav-item .nav-link {
          color: #000;
          padding: 0;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          position: relative; }
          .header .navbar .mainMenu .navbar-nav .nav-item .nav-link::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0%;
            height: 1px;
            background: #000;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            opacity: 0; }
          .header .navbar .mainMenu .navbar-nav .nav-item .nav-link.menuHover {
            opacity: 0.4; }
          .header .navbar .mainMenu .navbar-nav .nav-item .nav-link:hover {
            opacity: 1; }
            .header .navbar .mainMenu .navbar-nav .nav-item .nav-link:hover::before {
              opacity: 1;
              right: 0;
              left: auto;
              width: 100%; }
        .header .navbar .mainMenu .navbar-nav .nav-item.active .nav-link {
          opacity: 1; }
          .header .navbar .mainMenu .navbar-nav .nav-item.active .nav-link::before {
            opacity: 1;
            right: 0;
            left: auto;
            width: 100%; }
  .header.fixdHeader {
    -webkit-box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1); }

.banner_wrap {
  background: #000 url(../img/banner/banner-1.jpg) no-repeat scroll top left/cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0; }
  .banner_wrap::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }

.banner_content .banner_name {
  font-size: 20px;
  margin-bottom: 20px; }

.banner_content .banner_heading {
  font-size: 72px;
  line-height: 100px;
  font-weight: 300;
  margin-bottom: 70px; }

/*  =======================   about_wrap  ================================== */
.about_wrap {
  padding: 120px 0 165px; }
  .about_wrap .about_img_content {
    position: relative;
    z-index: 1; }
    .about_wrap .about_img_content .about_shape {
      position: absolute;
      bottom: -45px;
      left: -60px;
      display: inline;
      z-index: -1; }
    .about_wrap .about_img_content .about_small_img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 30px;
      display: inline; }
      .about_wrap .about_img_content .about_small_img img {
        -webkit-box-shadow: 0 10px 33px #858B97;
        box-shadow: 0 10px 33px #858B97; }
  .about_wrap .about_content {
    padding-top: 80px; }
    .about_wrap .about_content .sec_title {
      margin-bottom: 35px; }
    .about_wrap .about_content .about_service_wrap .about_service_single_item {
      padding-top: 20px; }
      .about_wrap .about_content .about_service_wrap .about_service_single_item .icon i {
        color: #414D60;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .about_wrap .about_content .about_service_wrap .about_service_single_item .icon i:before {
          font-size: 40px; }
      .about_wrap .about_content .about_service_wrap .about_service_single_item .service_title {
        color: #414D60;
        font: 500 18px/30px "Poppins", sans-serif;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .about_wrap .about_content .about_service_wrap .about_service_single_item:hover .icon i {
        color: #FF264A; }
      .about_wrap .about_content .about_service_wrap .about_service_single_item:hover .service_title {
        color: #FF264A; }

/*  =======================   about_wrap  ================================== */
/*  =====================    service_wrap   ======================================   */
.service_wrap {
  background: #fff8f9 url(../img/service_shap.png) no-repeat scroll right -100px bottom;
  padding: 105px 0  65px; }
  .service_wrap .sec_title {
    margin-bottom: 70px; }
  .service_wrap .service_item_row {
    margin: 0 -30px; }
    .service_wrap .service_item_row .service_item_col {
      padding: 0 30px; }

.service_single_item {
  background: #ffffff;
  padding: 20px 30px 35px;
  margin-bottom: 60px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  overflow: hidden; }
  .service_single_item::before, .service_single_item::after {
    position: absolute;
    content: "";
    height: 150px;
    width: 2px;
    background: #FF264A;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0; }
  .service_single_item::before {
    left: 0;
    top: 80%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .service_single_item::after {
    right: 0;
    bottom: 80%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%); }
  .service_single_item:hover {
    -webkit-box-shadow: 0 15px 20px rgba(133, 139, 151, 0.34);
    box-shadow: 0 15px 20px rgba(133, 139, 151, 0.34); }
    .service_single_item:hover::before, .service_single_item:hover::after {
      opacity: 1; }
    .service_single_item:hover::before {
      top: 50%; }
    .service_single_item:hover::after {
      bottom: 50%; }
  .service_single_item .service_icon {
    margin-bottom: 7px; }
    .service_single_item .service_icon i {
      color: #FF264A; }
      .service_single_item .service_icon i::before {
        font-size: 64px; }
  .service_single_item .service_title {
    margin-bottom: 20px; }
  .service_single_item .service_para {
    margin-bottom: 35px; }
  .service_single_item .read_more {
    color: #414D60;
    font: 400 14px/30px "Poppins", sans-serif;
    padding-right: 28px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none; }
    .service_single_item .read_more i {
      color: #414D60;
      position: absolute;
      margin-left: 10px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .service_single_item .read_more i::before {
        font-size: 18px; }
    .service_single_item .read_more:hover {
      color: #FF264A; }
      .service_single_item .read_more:hover i {
        margin-left: 15px;
        color: #FF264A; }

/*  =====================    service_wrap   ======================================   */
/*   ============================================         aboutWrap             ==========================================  */
.aboutWrap {
  background: #ffffff; }

.aboutImgContent .imgInner {
  position: relative;
  display: inline-block;
  z-index: 1; }
  .aboutImgContent .imgInner .overlayBg {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px; }
  .aboutImgContent .imgInner .aboutImg {
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-box-shadow: 0px 20px 80px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 20px 80px 20px rgba(0, 0, 0, 0.3); }
  .aboutImgContent .imgInner .imgShape {
    z-index: -1;
    position: absolute;
    bottom: -60px;
    right: -50px; }

.aboutMainContent .aboutTitle {
  margin-bottom: 20px; }

.aboutMainContent .aboutPara {
  margin-bottom: 30px; }

.aboutMainContent .infoiList {
  margin-bottom: 30px; }
  .aboutMainContent .infoiList ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    position: relative;
    color: #000; }
    .aboutMainContent .infoiList ul li:last-child {
      border: none; }
    .aboutMainContent .infoiList ul li i {
      position: absolute;
      left: 0;
      top: 4px; }
    .aboutMainContent .infoiList ul li .infoContent span {
      display: inline-block; }
      .aboutMainContent .infoiList ul li .infoContent span:nth-child(1) {
        color: #000;
        max-width: 150px;
        width: 100%; }
      .aboutMainContent .infoiList ul li .infoContent span:nth-child(2) {
        max-width: 50px;
        width: 100%; }
      .aboutMainContent .infoiList ul li .infoContent span:nth-child(3) {
        color: gray; }

/*   ============================================         aboutWrap             ==========================================  */
/*  =========================           skillWrap             ========================   */
.skillWrap {
  background: #fff; }
  .skillWrap .skillContent .skillTitle {
    margin-bottom: 20px; }
  .skillWrap .skillContent .secPara {
    margin-bottom: 30px; }
  .skillWrap .skillContent .btnWrap .btnBorder {
    padding: 5px 20px;
    font-size: 16px; }

.progressSingleItem {
  margin-bottom: 25px; }
  .progressSingleItem .progressTitle {
    position: relative;
    margin-bottom: 5px; }
    .progressSingleItem .progressTitle span {
      position: absolute;
      right: 0; }
  .progressSingleItem .progress {
    height: 4px;
    border-radius: 0; }
    .progressSingleItem .progress .progress-bar {
      background: #000; }

.clientCountDown {
  padding-top: 50px; }
  .clientCountDown .counterItem .counterNumber {
    font-size: 40px;
    font-weight: 700; }
  .clientCountDown .counterItem .counterBottom {
    margin-bottom: 10px; }
    .clientCountDown .counterItem .counterBottom .countIcon {
      font-size: 30px;
      margin-right: 15px;
      color: #a0a0a0; }
  .clientCountDown .counterItem .counterTitle {
    font-size: 20px; }

/*  =========================           skillWrap             ========================   */
/*   ======================              fraturedWrap                 ==========================   */
.fraturedWrap {
  background: #ffffff; }

.featuredSingleItem {
  -webkit-box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.01);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 60px 45px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  position: relative; }
  .featuredSingleItem::before {
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(320deg, #4000dc, #e67e7e);
    background: -o-linear-gradient(320deg, #4000dc, #e67e7e);
    background: linear-gradient(130deg, #4000dc, #e67e7e);
    background: -webkit-linear-gradient(140deg, #f300ff, #383fca);
    background: -o-linear-gradient(140deg, #f300ff, #383fca);
    background: linear-gradient(-50deg, #f300ff, #383fca);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
  .featuredSingleItem:hover {
    -webkit-box-shadow: 0px 30px 40px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 30px 40px 30px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); }
    .featuredSingleItem:hover::before {
      opacity: 1;
      visibility: visible; }
  .featuredSingleItem .featuredIcon {
    font-size: 40px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 10px; }
  .featuredSingleItem .featuredTitle {
    margin-bottom: 20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .featuredSingleItem .featuredPara {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

/*   ======================              fraturedWrap                 ==========================   */
.latest_work_wrap {
  padding: 90px 0 75px; }

.filter_menu {
  margin: 25px 0 50px;
  padding: 0;
  list-style: none; }

.filter_menu li {
  display: inline-block;
  margin-right: 35px;
  color: #606060;
  line-height: 28px;
  cursor: pointer;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.filter_menu li.active,
.filter_menu li:hover {
  color: #13b1cf; }

.filter_single_item {
  margin-bottom: 30px; }

.filter_item {
  position: relative;
  border-radius: 5px; }

.filter_item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #feb633;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5; }

.filter_item:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.filter_single_item a {
  display: block; }

.filter_single_item a img {
  display: inline-block;
  width: 100%; }

.filter_menu {
  margin-bottom: 43px; }

.filter_menu li {
  margin-right: 55px;
  color: #555555;
  position: relative; }

.filter_menu li.active,
.filter_menu li:hover {
  color: #fbd214; }

.filter_menu li:before {
  position: absolute;
  content: "/";
  color: #aaa;
  top: 0;
  right: -32px;
  font-weight: 300; }

.filter_menu li:last-child:before {
  display: none; }

.filterItem_body {
  margin-left: -30px; }

.filter_item_img_inner {
  float: left;
  padding-left: 30px;
  margin-bottom: 30px; }

.filter_item:before {
  display: none; }

.filter_item img {
  width: 100%; }

.filter_item {
  overflow: hidden; }

.hover_content {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: -moz-linear-gradient(40deg, rgba(254, 193, 16, 0.9) 0%, rgba(251, 210, 20, 0.9) 100%);
  background-image: -webkit-linear-gradient(40deg, rgba(254, 193, 16, 0.9) 0%, rgba(251, 210, 20, 0.9) 100%);
  background-image: -ms-linear-gradient(40deg, rgba(254, 193, 16, 0.9) 0%, rgba(251, 210, 20, 0.9) 100%); }

.filter_item:hover .hover_content {
  top: 0;
  opacity: 1; }

.hover_content_inner {
  width: 100%;
  text-align: center; }

.hover_content h4 {
  font-size: 20px;
  color: #fff;
  letter-spacing: -0.5px;
  max-width: 170px;
  width: 100%;
  margin: 0 auto 15px;
  line-height: 22px;
  font-weight: 500; }

.hover_content p {
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.hover_content a {
  width: 40px;
  height: 40px;
  margin: 0 auto 5px;
  background: #fff;
  line-height: 40px;
  font-size: 30px;
  border-radius: 50%;
  color: #fbd214;
  font-weight: 300;
  padding: 1px 0 0 2px; }

.hover_content a:hover {
  color: #fbd214; }

.cus_filter .filter_menu li {
  border-bottom: 1px solid transparent; }

.cus_filter .filter_menu li.active {
  border-color: #fbd214; }

.cus_filter .filter_menu li:before {
  display: none; }

.cus_filter .filter_item {
  border-radius: 0; }

.cus_filter .filter_item .hover_content {
  border-radius: 0; }

.cus_filter .filter_item .hover_content a {
  width: 54px;
  height: 54px;
  margin: 0 auto;
  line-height: 54px;
  font-size: 18px;
  border-radius: 50%;
  color: #fff;
  background: transparent;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.cus_filter .filter_item .hover_content h4 {
  max-width: 100%;
  padding: 0 50px;
  margin-bottom: 0; }

.cus_filter .filter_item .hover_content h4 a {
  font-size: 20px;
  width: inherit;
  height: inherit;
  letter-spacing: -0.5px;
  width: 100%;
  line-height: 22px;
  font-weight: 500; }

/*  ========================================  footer_wrap  ======================================  */
.footer_wrap {
  background: url(../img/footer_bg.jpg) no-repeat scroll top left/cover;
  position: relative;
  padding: 110px 0 80px; }
  .footer_wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 27, 70, 0.85); }
  .footer_wrap .footer_single_item .footer_logo {
    display: inline-block;
    font: 600 30px/30px "Poppins", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 30px; }
    .footer_wrap .footer_single_item .footer_logo img {
      max-width: 168px;
      width: 100%; }
  .footer_wrap .footer_single_item p {
    color: #ffffff;
    margin-bottom: 30px; }
    .footer_wrap .footer_single_item p a {
      color: #ffffff;
      font: 400 15px/30px "Poppins", sans-serif;
      display: block; }
  .footer_wrap .footer_single_item .footer_title {
    color: #ffffff;
    font: 600 23px/27px "Poppins", sans-serif;
    margin-top: 5px;
    margin-bottom: 20px; }
  .footer_wrap .footer_single_item .footer_menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer_wrap .footer_single_item .footer_menu li {
      margin-bottom: 15px; }
      .footer_wrap .footer_single_item .footer_menu li a {
        display: inline-block;
        color: #DEDBDB;
        font: 400 15px/30px "Poppins", sans-serif;
        text-decoration: none;
        position: relative;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .footer_wrap .footer_single_item .footer_menu li a:before {
          position: absolute;
          content: "-";
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 5px;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          color: #DEDBDB;
          opacity: 0; }
        .footer_wrap .footer_single_item .footer_menu li a:hover {
          color: #FF264A;
          padding-left: 8px; }
          .footer_wrap .footer_single_item .footer_menu li a:hover:before {
            left: 0;
            color: #FF264A;
            opacity: 1; }

/*  ========================================  footer_wrap  ======================================  */
